## Introducci√≥n

En estos ejercicios vamos a trabajar con el dataset alojado en la ruta del curso **/Dia-02/datasets/harvard_reviews.csv**

Ejecuta la siguiente celda para el dataframe con el contenido del dataset.

In [62]:
import pandas as pd

reviews = pd.read_csv("../datasets/harvard_reviews.csv")

reviews.head()

,published_date,published_platform,rating,type,helpful_votes,title,text
0,2023-12-28T08:02:14-05:00,Mobile,5,review,0,Best classes and good environment,Good thanks for everything good work group üëç h...
1,2023-12-12T00:38:26-05:00,Desktop,4,review,0,Harvard University,Harvard University was founded in 1636 and is ...
2,2023-12-10T08:21:35-05:00,Mobile,3,review,0,Walk around campus,We did a walk around most of the Harvard Campu...
3,2023-11-07T21:20:21-05:00,Desktop,4,review,0,Interesting Harvard University,We had a walk through the university grounds w...
4,2023-10-02T17:40:42-04:00,Desktop,5,review,0,Lovely university campus has many historic and...,Finally made it to Harvard!! This iconic univ...

## Ejercicio 1

Selecciona la columna ``text`` del dataframe reviews y asignalo a una variable llamada ``col_texto``

In [63]:
col_texto = reviews['text']

col_texto

0       Good thanks for everything good work group üëç h...
1       Harvard University was founded in 1636 and is ...
2       We did a walk around most of the Harvard Campu...
3       We had a walk through the university grounds w...
4       Finally made it to Harvard!!  This iconic univ...
                              ...
3179    wenn man in boston ist hat manmeistens zeit au...
3180    Von der F√ºhrung der Harvard University erhofft...
3181    da vedere questa citt√†, studio sede di una del...
3182    Hallo,\nich habe ein Jahr an der Harvard Law S...
3183    „Å®„Å¶„ÇÇÊ≠¥Âè≤„ÅÆ„ÅÇ„ÇãÁ¥†Êïµ„Å™Âª∫Áâ©„Åß„Åô„ÄÇ„Éè„Éº„Éê„Éº„Éâ„Çπ„ÇØ„Ç®„Ç¢„Éº„ÅÆÈßÖ„ÅÆËøë„Åè„Åã„ÇâÁÑ°Êñô„ÅÆ„ÉÑ„Ç¢„ÉºÔºàËã±Ë™ûÔºâ„Çí„Éè„Éº...
Name: text, Length: 3184, dtype: object

Pregunta complementaria: ¬øqu√© tipo de objeto es **col_texto**? Si no est√°s seguro, puedes comprobarlo llamando a la funci√≥n type de Python: type(desc).

## Ejercicio 2

Selecciona el primer valor de la columna `text` de reviews, asign√°ndolo a la variable `primer_texto`.

In [64]:
primer_texto = reviews['text'].iloc[0]  # Primera opci√≥n
primer_texto = reviews.iloc[0, -1] # Segunda opci√≥n
primer_texto = reviews.loc[0, 'text'] # Tercera opci√≥n

primer_texto

'Good thanks for everything good work group üëç harverd good college for everything development science etc thanks for support '

## Ejercicio 3

Selecciona la primera fila de datos (el primer registro) de `reviews`, asign√°ndola a la variable `primera_fila`.

In [65]:
primera_fila = reviews.loc[0] # Primer opci√≥n
primera_fila = reviews.iloc[0] # Segunda opci√≥n

primera_fila

published_date                                2023-12-28T08:02:14-05:00
published_platform                                               Mobile
rating                                                                5
type                                                             review
helpful_votes                                                         0
title                                Best classes and good environment
text                  Good thanks for everything good work group üëç h...
Name: 0, dtype: object

## Ejercicio 4

Selecciona los 10 primeros valores de la columna `title` en `reviews`, asignando el resultado a la variable `primeros_titulos`.

Sugerencia: formatea su salida como una Serie pandas.

In [66]:
primeros_titulos = reviews.loc[0:9, 'title'] # Primera opci√≥n
primeros_titulos = reviews.iloc[0:10, -2] # Segunda opci√≥n

primeros_titulos

0                   Best classes and good environment
1                                   Harvard University
2                                   Walk around campus
3                       Interesting Harvard University
4    Lovely university campus has many historic and...
5       Interesting walk around campus grounds & river
6                                  Inspirational place
7               Harvard University student guided tour
8                            Beautiful historic campus
9                                          Nice campus
Name: title, dtype: object

## Ejercicio 5

Selecciona los registros con etiquetas de √≠ndice `1`, `2`, `3`, `5` y `8`, asignando el resultado a la variable `reviews_filtradas`.

En otras palabras, genere el siguiente DataFrame:

<img src="imgs/ej-05.PNG">

In [67]:
reviews_filtradas = reviews.loc[[1,2,3,5,8]] # Primera opci√≥n (loc busca por √≠ndice)
reviews_filtradas = reviews.iloc[[1,2,3,5,8]] # Segunda opci√≥n (iloc busca por n√∫mero de fila)

# En este caso coinciden los √≠ndices con los n√∫meros de fila por eso las dos soluciones son iguales.

reviews_filtradas

,published_date,published_platform,rating,type,helpful_votes,title,text
1,2023-12-12T00:38:26-05:00,Desktop,4,review,0,Harvard University,Harvard University was founded in 1636 and is ...
2,2023-12-10T08:21:35-05:00,Mobile,3,review,0,Walk around campus,We did a walk around most of the Harvard Campu...
3,2023-11-07T21:20:21-05:00,Desktop,4,review,0,Interesting Harvard University,We had a walk through the university grounds w...
5,2023-09-29T08:44:17-04:00,Desktop,4,review,0,Interesting walk around campus grounds & river,Very interesting to wander around the grounds ...
8,2023-07-02T11:55:51-04:00,Desktop,4,review,2,Beautiful historic campus,"The beauty, charm, and architecture of so many..."

## Ejercicio 6

Crea una variable `df` que contenga las columnas `published_platform`, `rating`, `type` y `helpful_votes` de los registros con las etiquetas de √≠ndice `0`, `1`, `10` y `100`. En otras palabras, genera el siguiente DataFrame:

In [68]:
df = reviews.loc[[0,1,10,100], ['published_platform', 'rating', 'type', 'helpful_votes']] # Primera opci√≥n
df = reviews.iloc[[0,1,10,100], 1:5] # Segunda opci√≥n
df = reviews.iloc[[0,1,10,100]][['published_platform', 'rating', 'type', 'helpful_votes']] # Tercera opci√≥n

df

    published_platform  rating    type  helpful_votes
0               Mobile       5  review              0
1              Desktop       4  review              0
10              Mobile       4  review              0
100             Mobile       3  review              2

## Ejercicio 7

Crea una variable `df` que contenga las columnas `title` y `text` de los 100 primeros registros.

In [69]:
df = reviews.iloc[0:100, -2:] # Primera opci√≥n 
df = reviews.loc[0:99, ['title', 'text']] # Segunda opci√≥n

df

,title,text
0,Best classes and good environment,Good thanks for everything good work group üëç h...
1,Harvard University,Harvard University was founded in 1636 and is ...
2,Walk around campus,We did a walk around most of the Harvard Campu...
3,Interesting Harvard University,We had a walk through the university grounds w...
4,Lovely university campus has many historic and...,Finally made it to Harvard!! This iconic univ...
...,...,...
95,"So historic, just go","If you‚Äôre touring in Boston, why wouldn‚Äôt you ..."
96,A most prestigious university,There's a river between a Harvard undergraduat...
97,Great History,We had a great tour of the university and the ...
98,Gorgeous Campus!!!,Harvard is gorgeous and while we were visiting...
99,Harvard University walking tour by students,Xiadi our tour guide was very entertaining but...

## Ejercicio 8

Crea un DataFrame llamado `harvard_rating` que contenga los registros donde los valores de la columna `rating` sean mayor que 3.

In [70]:
harvard_rating = reviews.loc[reviews.rating > 3]

harvard_rating

,published_date,published_platform,rating,type,helpful_votes,title,text
0,2023-12-28T08:02:14-05:00,Mobile,5,review,0,Best classes and good environment,Good thanks for everything good work group üëç h...
1,2023-12-12T00:38:26-05:00,Desktop,4,review,0,Harvard University,Harvard University was founded in 1636 and is ...
3,2023-11-07T21:20:21-05:00,Desktop,4,review,0,Interesting Harvard University,We had a walk through the university grounds w...
4,2023-10-02T17:40:42-04:00,Desktop,5,review,0,Lovely university campus has many historic and...,Finally made it to Harvard!! This iconic univ...
5,2023-09-29T08:44:17-04:00,Desktop,4,review,0,Interesting walk around campus grounds & river,Very interesting to wander around the grounds ...
...,...,...,...,...,...,...,...
3177,2011-03-27T05:58:59-04:00,Desktop,4,review,1,Ganz gem√ºtlich √ºber den Campus schlendern,"Wenn man in Boston ist, sollte man auf jeden F..."
3178,2010-12-27T03:28:05-05:00,Desktop,5,review,0,beeindruckender Campus - alles first class,habe eine Tour durch √ºber 10 Campusse der best...
3181,2010-08-23T00:06:41-04:00,Desktop,5,review,0,bellissima universit√†,"da vedere questa citt√†, studio sede di una del..."
3182,2010-06-03T07:37:36-04:00,Desktop,5,review,2,"Tolle Universit√§t, definitiv einen Abstecher wert","Hallo,\nich habe ein Jahr an der Harvard Law S..."
3183,2009-09-27T16:39:18-04:00,Desktop,5,review,1,‰∏ÄÂ∫¶„ÅØË°å„Åè„Åπ„Åç,„Å®„Å¶„ÇÇÊ≠¥Âè≤„ÅÆ„ÅÇ„ÇãÁ¥†Êïµ„Å™Âª∫Áâ©„Åß„Åô„ÄÇ„Éè„Éº„Éê„Éº„Éâ„Çπ„ÇØ„Ç®„Ç¢„Éº„ÅÆÈßÖ„ÅÆËøë„Åè„Åã„ÇâÁÑ°Êñô„ÅÆ„ÉÑ„Ç¢„ÉºÔºàËã±Ë™ûÔºâ„Çí„Éè„Éº...

## Ejercicio 9

Crea un DataFrame llamado `harvard_mobile` que contenga los registros donde los valores de la columna `rating` sean mayor que 3 y adem√°s las reviews se hayan hecho por el m√≥vil. 

Pista: F√≠jate en la columna `published_platform`

In [71]:
harvard_mobile = reviews.loc[(reviews.rating > 3) & (reviews.published_platform == 'Mobile')]

harvard_mobile

,published_date,published_platform,rating,type,helpful_votes,title,text
0,2023-12-28T08:02:14-05:00,Mobile,5,review,0,Best classes and good environment,Good thanks for everything good work group üëç h...
10,2023-05-24T11:38:11-04:00,Mobile,4,review,0,Harvard University,They have great accessibility features such as...
13,2023-04-03T15:02:44-04:00,Mobile,4,review,0,Start saving for your grandchildren!,We went there without a guided tour. You can s...
14,2023-03-14T12:11:55-04:00,Mobile,5,review,0,The American College,"Harvard is an exceptional place, and more than..."
22,2022-10-30T08:02:03-04:00,Mobile,5,review,0,Great tour of Harvard that I finally took.,Isabella was a wonderful quide!! I have been t...
...,...,...,...,...,...,...,...
2953,2014-08-22T20:47:26-04:00,Mobile,5,review,0,Da non perdere,La visita alla storica universita' deve essere...
2969,2014-08-05T02:58:13-04:00,Mobile,5,review,0,Imperdibile,Atmosfera splendida nel campus che non ha riva...
2998,2014-05-28T00:59:25-04:00,Mobile,5,review,1,Sem Palavras,"Um lugar incr√≠vel. \nSensacional, o ensino de ..."
3020,2014-03-16T17:56:55-04:00,Mobile,5,review,1,Maravilhosa at√© congelada,Harvard √© parada obrigat√≥ria para quem vai a B...
3135,2012-09-25T15:03:42-04:00,Mobile,5,review,1,Vale la pena,"Es muy f√°cil llegar desde Boston, ya que el su..."

## Ejercicio 10

A√±ade una nueva columna al dataframe de `reviews` llamada `rating_europe` en la cu√°l se debe almacenar los valores de la columna `rating` multiplicados por 2.

In [72]:
reviews['rating_europe'] = reviews.rating * 2

reviews

,published_date,published_platform,rating,type,helpful_votes,title,text,rating_europe
0,2023-12-28T08:02:14-05:00,Mobile,5,review,0,Best classes and good environment,Good thanks for everything good work group üëç h...,10
1,2023-12-12T00:38:26-05:00,Desktop,4,review,0,Harvard University,Harvard University was founded in 1636 and is ...,8
2,2023-12-10T08:21:35-05:00,Mobile,3,review,0,Walk around campus,We did a walk around most of the Harvard Campu...,6
3,2023-11-07T21:20:21-05:00,Desktop,4,review,0,Interesting Harvard University,We had a walk through the university grounds w...,8
4,2023-10-02T17:40:42-04:00,Desktop,5,review,0,Lovely university campus has many historic and...,Finally made it to Harvard!! This iconic univ...,10
...,...,...,...,...,...,...,...,...
3179,2010-10-29T05:47:57-04:00,Desktop,3,review,0,amerikanischer campus fuer touristen,wenn man in boston ist hat manmeistens zeit au...,6
3180,2010-08-23T06:08:51-04:00,Desktop,3,review,0,Weniger als erwartet,Von der F√ºhrung der Harvard University erhofft...,6
3181,2010-08-23T00:06:41-04:00,Desktop,5,review,0,bellissima universit√†,"da vedere questa citt√†, studio sede di una del...",10
3182,2010-06-03T07:37:36-04:00,Desktop,5,review,2,"Tolle Universit√§t, definitiv einen Abstecher wert","Hallo,\nich habe ein Jahr an der Harvard Law S...",10
3183,2009-09-27T16:39:18-04:00,Desktop,5,review,1,‰∏ÄÂ∫¶„ÅØË°å„Åè„Åπ„Åç,„Å®„Å¶„ÇÇÊ≠¥Âè≤„ÅÆ„ÅÇ„ÇãÁ¥†Êïµ„Å™Âª∫Áâ©„Åß„Åô„ÄÇ„Éè„Éº„Éê„Éº„Éâ„Çπ„ÇØ„Ç®„Ç¢„Éº„ÅÆÈßÖ„ÅÆËøë„Åè„Åã„ÇâÁÑ°Êñô„ÅÆ„ÉÑ„Ç¢„ÉºÔºàËã±Ë™ûÔºâ„Çí„Éè„Éº...,10